*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
}

#activitiesContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#innerContainer{
    border: 1px solid black;
    padding: 40px 60px;
    border-radius: 10px;
    box-shadow: 10px 10px black;
}

#buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#buttonContainer div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 127px;
}

#buttonContainer div div{
    cursor: pointer;
    border: 1px solid black;
    text-align: center;
    width: 200px;
    padding: 15px;
    border-radius: 5px;
    background-image: linear-gradient(to right, #a8ff78 , #78ffd6);
    transition: 0.5s;
    box-shadow: 10px 10px black;
}

.content{
    flex-basis: 48%;
}

#buttonContainer div div:hover{
    border-radius: 30px;
}

@media screen and (max-width: 457px){
    #jumboText{
        font-size: 0.8em;
    }

    #innerContainer{
        width: 75%;
    }

    #buttonContainer div div{
        width: 150px;
    }

    #activityHeading{
        font-size: 1em;
    }
}



@media screen and (max-width: 577px){
    .buttonContainer{
        flex-direction: column;
    }
    .content{
        flex-basis: 100%;
    }
    #innerContainer{
        width: 75%;
    }
}



@media screen and (max-width: 814px){
    #innerContainer{
        width: 95%;
    }
}